[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.2"
gunicorn = "==20.0.4"
itsdangerous = "==2.0.1"
openai = "==0.10.5"
python-dotenv = "==0.19.1"
Flask = "==1.1.2"
Flask-Cors = "==3.0.10"
Jinja2 = "==3.0.2"
MarkupSafe = "==2.0.1"
Werkzeug = "==2.0.2"
pandas = "*"
sklearn = "*"
num2words = "*"
spacy = "*"
psutil = "*"
pandarallel = "*"

[dev-packages]

[requires]
python_version = "3.10"
